body {
    background-color: darkslategray;
}
p {
 font-size: 3vh;
}
.loginbutton {
    margin: 1vh auto 1vh auto;
    width: 90%;
    height: 10vh;
    border-radius: 5vh;
    display: flex;
    align-items: center;
}
.loginbutton-github {
    background-color: black;
}
.loginbutton-github .logo{
    background-color: white;
}
.loginbutton-google {
    background-color: #4285F4;
}
.loginbutton-google .logo{
    background-color: #FFFFFF;
}
.loginbutton-twitter {
    background-color: #00aced;
}
.loginbutton-twitter .logo{
    background-color: #c0deed;
}
.loginbutton-facebook {
    background-color: #3b5998;
}
.loginbutton-facebook .logo{
    background-color: #8b9dc3;
}
.logo {
    height: 8vh;
    width: 8vh;
    padding: 1vh;
    border-radius: 5vh 0 0 5vh;
}
.loginbutton a {
    width: 100%;
    height: 100%;
    z-index: 1;
    border-radius: 5vh;
    display: flex;
    align-items: center;
    text-decoration: none;
}
.loginbutton p {
    color: white;
    font-size: 3vh;
    margin: 0 auto 0 auto;
}
.link-container {
    text-align: center;
    background-color: dimgray;
    position: fixed;
    padding: 1%;
    top:0;
    left: 0;
    right: 0;
    z-index: 5;
    display: flex;
    flex-flow: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    max-height: 10vh;
}
.link-container a{
    color: #80b3b3;
    background-color: black;
    margin: 1vh;
    border: .5vh solid white;
    text-decoration: none;
    font-size: 3vh;
    padding: 1vh;
    border-radius: 1vh;
}
.profile p {
    text-align: center;
}
.profile-container, .login-container {
    width: 30%;
    min-width: 150px;
    margin: 15% auto 0 auto;
    background-color: dimgray;
    border-radius: 10vh;
    padding: 1vh;
}
.profile {
    width: 90%;
    background-color: #80b3b3;
    border-radius: 5vh;
    margin: 2.5vh auto 2.5vh auto;
    padding: 1vh;  
}
.profile-heading {
    font-weight: 700;
}
.title {
    color: white;
    margin: 15% 0 0 0;
    text-align: center;
    font-size: 10vh;
}
.link, .link:visited {
    color: black;
}
.link:hover {
    color:red;
}
.profile .link {
    font-size: 3vh;
}
.bigWhiteText {
    color: white;
    font-size: 5vh;
    margin: 1% 0 1%0;
    font-weight: 600;
}
.boldText {
    font-weight: 700;
    font-size: 5vh;
    margin: 2.5% auto 2.5% auto;
}
.absoluteErrorText {
    position: absolute;;
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
    color: red;
    font-weight: 700;
}
.uploadForm {
    margin: 0;
}
.preview {
    width: 30%;
    height: auto;
    border-radius: 5vh;
    border: .5vh solid black;
}
.uploadPageContainer {
    width: 80%;
    margin: 10% auto 5% auto;
    text-align: center;
}
.dividerContainerUpload {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    flex-flow: row;
    margin: 1% 0 1% 0;
}
.instruction, .uploadFormInput {
    font-size: 3vh;
}
.divider {
    width: 30%;
    margin: 0 auto 0 auto;
}
.image-container {
    column-count: 4;
    column-gap: 1vh;
}
.imageDiv, .profileImageDiv {
    background-color: white;
    border-radius: 5vh;
    display: inline-block;
    margin: 0 0 1vh;
    width: 100%;
    overflow: hidden;
}
.indexContainer {
    text-align: center;
    width: 95%;
    margin: 5vh auto 5vh auto;
}
.buttonContainer {
    margin: 2.5% auto 2.5% auto;
}
.image {
    width: 100%;
    height: auto;
}
.likes, .shares {
    height: 5vh;
    width: 5vh;
    display: block;
}
.imageTitle, .smallImageTitle {
    text-align: left;
    margin: 2.5% 0 2.5% 0;
    padding: 0 5% 0 5%;
    word-wrap:break-word;
}
.smallImageTitle {
    text-align: center;
}
.separator {
    display: flex;
    justify-content: space-around;
    flex-flow: row;
    flex-wrap: nowrap;
    background-color: white;
}
.likesDiv, .sharesDiv {
    display: inline-flex;
    flex-flow: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    width: 50%;
    border: .5vh solid black;
}
.likesDiv {
    border-bottom-left-radius: 5vh;
}
.sharesDiv {
    border-bottom-right-radius: 5vh;
}
.likes, .shares, .likesText, .sharesText, .image, .smallImageTitle, .imageTitle {
    pointer-events: none;
    -moz-user-select:none;
}
.reshareDiv {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
    border-bottom: .5vh solid black;
}
.username {
    margin:0;
}
.dimmer {
    position: fixed;
    width: 100%;
    height: 100%;
    left:0;
    top:0;
    background-color: black;
    opacity: .5;
    z-index: 3;
}
.profileImageContainer {
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: flex-start;
}
.profileImageDiv {
    display: block;
    width: 20%;
    margin: 1vh;
}
.bigDivHolder {
    position: absolute;
    width: 50%;
    z-index: 4;
    display: flex;
    flex-flow: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-start;
    left: 0;
    right: 0;
    top: 15%;
    margin: 0 auto 0 auto;
}
.bigProfileDiv {
    border-radius: 5vh;
    overflow: hidden;
    background-color: white;
    width: 50%;
}
.bigProfileDiv .imageTitle{
    word-wrap: break-word;
}
.shareLinksDiv {
    width: 45%;
    background-color: white;
    padding: 1vh;
    margin-left: 5vh;
    border-radius: 5vh;
}
.profileInput, .profileLink{
    display: block;
}
.profileInput {
    margin: 1vh auto 1vh auto;
    font-size: 3vh;
    width: 90%;
}
.profileLink {
    color: black;
    font-size: 3vh;
}
.pagination {
    display: inline-flex;
    flex-flow: row;
    flex-wrap: nowrap;
}
.paginationLink {
    display: block;
    color: white;
    background-color: black;
    margin: 1vh;
    padding: 2vh;
    font-size: 3vh;
}
.paginationLinkActive {
    color: red;
    background-color: white;
}
.button, .deleteButton {
    font-size: 3vh;
}
.deleteButton {
    background-color: red;
    color: white;
    padding: 1vh;
    border-radius: 1vh;
}
.profileLinksDiv, .deleteLinksDiv {
    width: 100%;
    background-color: white;
    padding: 1%;
    border-radius: 5vh;
}
.deleteLinksDiv {
    margin-top: 2.5vh;
}
.dividerColumn {
    display: flex;
    flex-flow: column;
    flex-wrap: nowrap;
    width: 45%;
    margin-left: 5%;
}
.username-container {
    margin: 15% auto 0 auto;
    text-align: center;
}
input[type=text] {
    font-size: 3vh;
    height: 5vh;
    width: 20vw;
    border: .5vh solid black;
}
.noPacity {
    height: 3vh;
    margin: 0;
    color: #4dff4d;
    font-weight: 600;
    margin: 1vh 0 1vh 0;
}
.statusDiv {
    display: flex;
    flex-flow: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 5vh;
    margin-top: 1vh;
}
.statusDiv:nth-child(1) {
    margin-top: 0;
}
.recentContainer {
    margin-top: 2.5vh;
    padding: 1%;
    width: 100%;
}
.usernameStatus {
    margin-right: 1vh;
    font-weight: 600;
}
.activityLabel {
    margin: 0;
    display: inline-block;
    color: white;
    font-weight: 700;
    background-color: #80b3b3;
    border-radius: 5vh;
    text-align: center;
    padding: 1%;
}