<html>
  <head>
    
    <link href = "public/css/css.css" type = "text/css" rel = "stylesheet">

  </head>
  
  <body>
    <div class =  "link-container">
    <% if (user) { %>
      <a href = "/profile">Profile</a>
      <a href = "/upload">Upload Images</a>
      <a href = "/logout">Logout</a>
    <% } else { %>
      <a href = "/login">Login</a>
    <% } %>
    </div>

    <script type = 'text/javascript' src = '/controllers/indexController.js'></script>

    
    
  </body>
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
</html>
