<html>
  <head>
    
    <link href = "public/css/css.css" type = "text/css" rel = "stylesheet">
    
    
  </head>
  
  <body>
    <div class =  "link-container">
    <% if (user) { %>
      <a href = "/profile">Profile</a>
      <a href = "/logout">Logout</a>
    <% } else { %>
      <a href = "/login">Login</a>
    <% } %>
    </div>

    <h1 class = "title">FreeCodeCamp "Pinterest clone"<br> By <a class = 'link' href ='https://github.com/Darkweld'>Darkweld</a></h1>

    <div class = "indexContainer" id = 'indexContainer'>
    <p class = 'boldText'>All images<br> Instructions: Click an image to see a popout </p>
    <div class = "buttonContainer" id = "buttonContainer"></div>

    <div id = "Pictures" class = "image-container"></div>
    </div>
    <div class="dim"></div>
    
    <script type = 'text/javascript' src = '/ajax/requests.js'></script>
    <script type = 'text/javascript' src = '/controllers/indexController.js'></script>

    
    
  </body>
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
</html>