<html>
  <head>
    
    <link href = "public/css/css.css" type = "text/css" rel = "stylesheet">
    
    
  </head>
  
  <body>
    <div class =  "link-container">
    <% if (user) { %>
      <a href = "/profile">Profile</a>
      <a href = "/logout">Logout</a>
    <% } else { %>
      <a href = "/login">Login</a>
    <% } %>
    </div>

    <h1 class = "title">FreeCodeCamp "Pinterest clone"<br> By <a class = 'link' href ='https://github.com/Darkweld'>Darkweld</a></h1>


    
    <script type = 'text/javascript' src = '/ajax/requests.js'></script>
    
    
  </body>
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
</html>