<html>
    
<head>
    
  <link href="/public/css/css.css" rel="stylesheet" type="text/css">  
    
</head>

<body>
    
    <div class = "login-container">
    
    <div class = "loginbutton loginbutton-github">
        <p>Sign in with Github</p>
      <a href = "/auth/github"></a><img src = "/public/images/github.png" class = "logo"></img>
        
    </div>
    
    <div class = "loginbutton loginbutton-google">
        <p>Sign in with Google</p>
      <a href = "/auth/google"></a><img src = "/public/images/google.png" class = "logo"></img>
        
    </div>
    
    <div class = "loginbutton loginbutton-twitter">
        <p>Sign in with Twitter</p>
      <a href = "/auth/twitter"></a><img src = "/public/images/twitter.png" class = "logo"></img>
        
    </div>
    
    <div class = "loginbutton loginbutton-facebook">
        <p>Sign in with Facebook</p>
      <a href = "/auth/facebook"></a><img src = "/public/images/facebook.png" class = "logo"></img>
        
    </div>
    
    </div>
    
        <div class =  "link-container">
      <a href = "/">Home</a>
        </div>
    
</body>

















</html>
