<html>
    
<head>
    
  <link href="/public/css/css.css" rel="stylesheet" type="text/css">  
    
</head>

<body>
    
    <div class = "login-container">
    
    <div class = "loginbutton loginbutton-github">
    <img src = "/public/images/github.png" class = "logo"></img>
      <a href = "/auth/github"><p>Sign in with Github</p></a>
        
    </div>
    
    <div class = "loginbutton loginbutton-google">
    <img src = "/public/images/google.png" class = "logo"></img>
      <a href = "/auth/google"><p>Sign in with Google</p></a>
        
    </div>
    
    <div class = "loginbutton loginbutton-twitter">
    <img src = "/public/images/twitter.png" class = "logo"></img>
      <a href = "/auth/twitter"><p>Sign in with Twitter</p></a>
        
    </div>
    
    <div class = "loginbutton loginbutton-facebook">
    <img src = "/public/images/facebook.png" class = "logo"></img>
      <a href = "/auth/facebook"><p>Sign in with Facebook</p></a>
        
    </div>
    
    </div>
    
        <div class =  "link-container">
      <a href = "/">Home</a>
        </div>
    
</body>

















</html>
