<html>
  <head>
    
    <link href = "public/css/css.css" type = "text/css" rel = "stylesheet">
    
    
  </head>
  
  <body>
    <div class =  "link-container">
    <% if (user) { %>
      <a href = "/">Home</a>
      <a href = "/profile">Profile</a>
      <a href = "/logout">Logout</a>
    <% } else { %>
      <a href = "/login">Login</a>
    <% } %>
    </div>

    <div class = 'uploadPageContainer' id = 'uploadPageContainer'>
    <form id = "uploadForm" class = "uploadForm" action = "">
    <p class = 'bigWhiteText'>You may choose to upload locally or with an image url, but not both.</p>
    <p class = 'boldText'>Valid image types: PNG, GIF, JPG<br> Max image limit per user: 10</p>

    <img class = "preview" id = "Preview" src = '/public/images/placeholder.png'>

      <div class = "dividerContainerUpload">
       <div class = "divider">
      <p class = "instruction">To upload a file from your computer locally, use this:</p>
      <input type = 'file' class = 'uploadFormInput' id = 'uploadLocal'>
       </div>
       <button type = "button" id = "Clear" class = "button">Clear fields</button>
       <div class = "divider">
      <p class = 'instruction'>To upload a file using a image url from the internet, use this:</p>
      <input type = 'text' class = 'uploadFormInput' id = 'uploadHotlink'>
        </div>
      </div>
      <p class = 'boldText'>Title of upload</p>
      <input type="text" id = "Title" required placeholder="Title">
      
      <input type = 'submit' value = 'Upload' id = "uploadButton" class = "button">

    </form>
      <p id = "noPacity" class="noPacity"></p>
    </div>
    
    <script type = 'text/javascript' src = '/ajax/requests.js'></script>
    <script type = 'text/javascript' src = '/controllers/uploadController.js'></script>
    
    
  </body>
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
</html>