body {
    background-color: darkslategray;
}
.imageContainer {
    column-count: 3;
    column-gap: 1vw;
}
.indexContainer {
	margin: 0 auto;
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
}
.indexButton {
	margin: 10px auto 10px auto;
	border: 2px solid lightblue;
	color: lightblue;
	background-color: navy;
	border-radius: 5vh;
	font-size: calc(2vh + 10px);
	cursor: pointer;
    	padding: 5px;
}
/*Image Div*/
.likesDiv:hover .likeShareText {
    filter: opacity(.5) drop-shadow(0 0 0 red);
}
.likesDiv:hover .likeShareImage {
    filter: opacity(.5) drop-shadow(0 0 0 red);
}
.sharesDiv:hover .likeShareText {
    filter: opacity(.5) drop-shadow(0 0 0 blue);
}
.sharesDiv:hover .likeShareImage {
    filter: opacity(.5) drop-shadow(0 0 0 blue);
}
.likeShareText, .likeShareImage {
    pointer-events: none;
}
.likeShareText {
	margin: 0 5px 0 0;
  font-size: 25px;
}
.likeShareImage {
    height: 25px;
    width: 25px;
    display: block;
}
.image {
	width: 100%;
	height: auto;
}
.imageDiv {
    background-color: white;
    border-radius: 5vh;
    display: inline-block;
    margin: 0 0 1vh;
    width: 100%;
    overflow: hidden;
	border: 2px solid black;
}
.imageTitle {
    margin: 5px auto;
    padding: 0 5px 0 5px;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}
.imageDivBottom {
    display: flex;
    flex-flow: column nowrap;
}
.separator {
    display: flex;
    justify-content: space-around;
    flex-flow: row;
    flex-wrap: nowrap;
    background-color: white;
}
.likesDiv, .sharesDiv {
    display: inline-flex;
    flex-flow: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    width: 50%;
    padding: 5px;
    cursor: pointer;
}
.likesDiv {
    background-color: lightsteelblue;
}
.sharesDiv {
    background-color: lightgoldenrodyellow;
}

/*Big Div / Overlay */
.dimmer {
    position: fixed;
    width: 100%;
    height: 100%;
    left:0;
    top:0;
    background-color: rgba(0,0,0,0.5);
    z-index: 3;
	overflow: auto;
}
.bigDivHolder {
    position: absolute;
    width: 50%;
    z-index: 4;
    display: flex;
    flex-flow: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-start;
    left: 0;
    right: 0;
    top: 5%;
    margin: 0 auto 0 auto;
}
.shareLinksDiv {
    width: 45%;
    background-color: white;
    padding: 10px;
    margin-left: 5%;
    border-radius: 5vh;
    border: 2px solid black;
    font-family: Verdana, Geneva, sans-serif;
}
.profileText {
    margin: 0 0 10px 0;
    font-size: 3vh;
}
.profileLink {
    color: black;
    font-size: 3vh;
}
/* link container stuff*/
.link-container {
    text-align: center;
    background-color: dimgray;
    position: fixed;
    padding: 5px;
    top:0;
    left: 0;
    right: 0;
    z-index: 5;
    display: flex;
    flex-flow: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    max-height: 10vh;
}

.link-container a{
    color: #80b3b3;
    background-color: black;
    margin: 0 5px;
    border: .5vh solid white;
    text-decoration: none;
    font-size: 3vh;
    border-radius: 1vh;
}

